::-webkit-scrollbar{
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: auto;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(0.5); */
    z-index: 2;
}
body{
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: 300;
}
section{
    width: 100%;
    margin-bottom: 80px;
}
.section-title{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 50px;
}
.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Секция "Welcome" */
.welcome{
    min-height: 820px;
    width: 100%;
    padding-top: 25px;
    background-size: cover;
    justify-content: center;
}
header{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 200px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    width: 30%;
    font-size: 25px;
}
header nav .item{
    color: #fff;
    text-decoration: none;
    margin-right: 80px;
    font-size: 25px;
    cursor: pointer;
}
header nav .item:hover{
    color: #000;
}
.slogan{
    position: relative;
    color: #fff;
    margin: 0;
}
.decorate-line{
    height: 3px;
    background-color: #fff;
    width: 600px;
    margin: 20px auto 0;
}
footer{
    width: 100%;
    height: 180px;
    background-size: cover;
}
.about{
    height: 700px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 50%;
    height: 260px;
    border-radius: 15px;
    border: #fff solid 1px;
    padding: 20px 20px 20px 0;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-self: center;
    justify-content: center;
}
.card .graph{
    width: 60%;
    
}
.card .info{
    width: 40%;
    color: #fff;
}
.card .info .parameter{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    color: #FF847B;
    font-size: 20px;
}
.card .info .value{
    font-size: 120px;
    height: 140px;
}
.line-container {
    grid-column: 1;
    grid-row: 2;
    width: 40%;
    height: 25px;
    justify-self: center;
    margin-top: 1%; 
}
.widgets{
    width: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    justify-content: center;
}
.gistogramm{
    margin-left: 7%; 
}
#update{
    padding: 3%;
    margin-right: 5%
}
#off{
    padding: 3%;
    margin-left: 5%
}
#off:before{
    background-color: #EB494F;
}
#save{
    margin-top: 2%;
}
#save:before{
    background-color: #1FBD17;
}
.button {
    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #32D4E2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button:hover:before {
    transform: translate(4px, 4px);
}
.parameter_name{
    font-size: 20px;
    margin-top: 3%;
    color: #ffc107;
}
form{
    display: none;
    width: 30%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 125px;
    left: 35%;
    padding: 2%;
    z-index: 1;
}
form h1{
    font-size: 30px;
}
form input{
    height: 60px;
    width: 96%;
    border-radius: 10px;
    border: #707070 solid 1px;
    outline: none;
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 25px;
}
form button{
    height: 50px;
    background-color: #36363B;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    width: auto;
    margin: 0 auto;
    padding: 0 50px;
}
#active{
    display: block;
}
#disactive{
    display: none;
}
@media screen and (max-width: 1610px){
    body{
        zoom: 83%;
    }
}
@media screen and (max-width: 1376px){
    body{
        zoom: 70%;
    }
}
@media screen and (max-width: 1290px){
    body{
        zoom: 65%;
    }
}
@media screen and (max-width: 1034px){
    body{
        zoom: 55%;
    }
}
.sectore-table td {
    text-align: center;
}
.sectore-table tr {
    background-color: #36393F;
    height: 4.3vw;
    transition: .3s;
}
.active tr:hover{
    background-color: #5E6165;
    transition: .3s;
    transform: scale(0.98);
}
.sectore-table .num {
    width: 5vw;
    border-radius: 0 0 0 3vw;
    color: #fff;
    font-weight: 600;
}
.sectore-table .name {
    width: 40vw;
}
.sectore-table .date {
    width: 17.3vw;
    border-radius: 0 3vw 0 0;
}