{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "MainPage/style.css" %}'/>
    <title>Radius</title>
</head>
<body onload='getData("{{ csrf_token }}")'>
<form class="log-form" id='disactive' method="POST" action="{% url 'redirect' %}">
    {% csrf_token %}
    <h1 class="section-title">Сменить сектор</h1>
    <input type="text" placeholder="Индитификатор сектора" name='id' id='redirect'>
    <button type="submit">Перейти</button>
</form>
<form class="reg-form" id='disactive' action="{% url 'create_section' %}" method="POST">
    {% csrf_token %}
    <h1 class="section-title">Создать сектора</h1>
    <input type="text" placeholder="Индитификатор сектора" name='id'>
    <button type='submit'>Создать сектор</button>
</form>
<main>
    <!-- Секция "welcome" -->
    <section class='welcome' style="background: url({% static 'MainPage/img/new_bg_start.png' %}) no-repeat;">
        <header>
            <div class="wrapper">
                <div><a class="logo" href="/main/" style="text-decoration: none; font-weight: bold;">RADIUS</a></div>
				<nav>
                    <a class="item">Выбрать сектор</a>
                    <a class="item">Добавить сектор</a>
                </nav>
            </div>
        </header>
        <div class='decorate-line'></div>
        <h1 class="section-title slogan">Статистика секторов</h1>
        <div class='decorate-line'></div>
    </section>
    <!-- Секция "about" -->
    <section class="about">
    	<div class="gistogramm"><canvas id="canvas" width="400px" height="400px"></canvas></div>
    	<div class="widgets">
	        <div class="card">
	        	<div class="info">
	                <div class="parameter">
	                    <div class="icon1">
                            <img src='{% static "MainPage/img/lamp.png" %}' width="33" height="33" />
                        </div>
	                    <h3 class="parameter_name">СР. элек.</h3>
	                </div>
	                <div class="value" id='pulse_value'></div>
	                <div class="sub_value">Киловат электричества</div>
	            </div>
	        </div>
	        <div class="line-container"><canvas id="line" width="400px" height="400px"></canvas></div>
			<div class="buttons">
				<button id='update' class="button" onclick='getData("{{ csrf_token }}")'>Обновить данные</button>
				<button id='off' class="button">Обучить сеть</button>
			</div>
    	</div>
    </section>
    <footer style="background: url({% static 'MainPage/img/bg_end.png' %}) no-repeat;"></footer>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="{% static 'MainPage/script.js' %}"></script>
<script src="{% static 'MainPage/forms.js' %}"></script>
<script src="{% static 'MainPage/ajax.js' %}"></script>
<script src="{% static 'MainPage/jquery-3.5.1.min.js' %}"></script>
</body>
</html>